body {
  font-family: 'Open Sans Condensed', sans-serif;

}

.App {
  text-align: center;
}

#form-message-header {
  display: flex;
  justify-content: center;
}
  

.App-header {
  background-color: #1b1c1d;
  height: 15vh;
  color: white;
  margin: 0
}

.App-title {
  font-size: 5em;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-right: 5vw
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#nav {
  background-color: #1b1c1d;
  margin-bottom: 10vh;
  margin-top: 0vh;
}

#mainstuff {
  width: 75vw;
  margin: 0 auto;
}

.btn {
  background: #0f4900;
  background-image: -webkit-linear-gradient(top, #222, #222);
  background-image: -moz-linear-gradient(top, #222, #222);
  background-image: -ms-linear-gradient(top, #222, #222);
  background-image: -o-linear-gradient(top, #222, #222);
  background-image: linear-gradient(to bottom, #222, #222);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Georgia;
  color: white;
  font-size: 12px;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #222, #222);
  background-image: -moz-linear-gradient(top, #222, #222);
  background-image: -ms-linear-gradient(top, #222, #222);
  background-image: -o-linear-gradient(top, #222, #222);
  background-image: linear-gradient(to bottom, #222, rgba(0, 0, 0, 0.666));
  text-decoration: none;
}


a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

a:active {
  color: #222;
}

ul#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 8vh;
  width: 100%;
  margin-top: 0px;
  padding: 1vh;
  padding-top: 2vh;
}


legend {
  text-decoration: underline;
  margin-bottom: 20px;
}

input#description {
  border: 1px solid rgba(34,36,38,.15);
  color: #222;
  height: 90px;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;

}
#login-form-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15vh;
}

#register-form-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

#picUpload {
  width: 50%vw important!;
}

::-webkit-file-upload-button {
  padding: 1em;
  -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  background-color: #1b1c1d;
  color: #fff;
  text-shadow: none;
  background-image: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  background-color: #1b1c1d;
  color: #fff;
  text-shadow: none;
  background-image: none;
  }

  .modal {
    margin-bottom: 10vh;
  }